.aaa{
  width: 60px;
  text-align: center;
  line-height: 22px;
  border-radius: 10px;
  background-color: indianred;
  cursor: pointer;
  color: #fff;
}
.bac {
  background: indianred;
  color: #fff;
}